@charset "utf-8";
/* CSS Document */

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td {
    border: 0 none;
    font-family: inherit;
    font-size: 100%;
    font-style: inherit;
    font-weight: inherit;
    margin: 0;
    outline: 0 none;
    padding: 0;
}
body {	
    font-size: 12px;
    margin: 5px;
    padding: 0 0 1px;
	  color:	white;
		font-family:	'Calibri';
		margin:	0;
		background-image:	url('../images/bg3.png');}

h1 {
	color: #3399FF;
	font-size: 18px;
	font-weight: bold;
	margin: 0;
	padding-bottom: 2px;
}
#logo{
	width:190px;
	height:114px;
	margin-left:auto;
	margin-right:auto;
	background-image:url(../images/logo2.png);
	background-repeat:no-repeat;
}
#border-top{
	padding-top:20%;
}
body, td, th {
    font-family: Arial,Helvetica,sans-serif;
}
a html, body {
    height: 95%;
}

.calendario {
    background-image: url("../images/calendar.png");
    background-position: right center;
    background-repeat: no-repeat;
    cursor: pointer;
}
.btn {
    -moz-border-bottom-colors: none;
    -moz-border-left-colors: none;
    -moz-border-right-colors: none;
    -moz-border-top-colors: none;
    background-color: #F5F5F5;
    background-image: -moz-linear-gradient(center top , #FFFFFF, #E6E6E6);
    background-repeat: repeat-x;
    border-color: #CCCCCC #CCCCCC #B3B3B3;
    border-image: none;
    border-radius: 4px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.2) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    color: #333333;
    cursor: pointer;
    display: inline-block;
    font-family: "Calibri";
    font-size: 14px;
    line-height: 18px;
    margin-bottom: 0;
    padding: 4px 10px;
    text-align: center;
    text-shadow: 0 10px 10px rgba(255, 255, 255, 0.75);
    vertical-align: middle;
}
.btn:hover, .btn:active, .btn.active, .btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
}
.btn:active, .btn.active {
}
.btn:first-child {
}
.btn:hover {
    background-color: #E6E6E6;
    background-position: 0 -15px;
    color: #000000;
    text-decoration: none;
    transition: background-position 0.1s linear 0s;
}
.btn:focus {
    outline: thin dotted #333333;
    outline-offset: -2px;
}
.btn.active, .btn:active {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.15) inset, 0 1px 2px rgba(0, 0, 0, 0.05);
    outline: 0 none;
}
.btn.disabled, .btn[disabled] {
    background-color: #E6E6E6;
    background-image: none;
    box-shadow: none;
    cursor: default;
    opacity: 0.65;
}
.btn-large {
    border-radius: 5px;
    font-size: 15px;
    line-height: normal;
    padding: 9px 14px;
}
.btn-large [class^="icon-"] {
    margin-top: 1px;
}
.btn-small {
    font-size: 11px;
    line-height: 16px;
    padding: 5px 9px;
}
.btn-small [class^="icon-"] {
    margin-top: -1px;
}
.btn-mini {
    font-size: 11px;
    line-height: 14px;
    padding: 2px 6px;
}
.btn-primary, .btn-primary:hover, .btn-warning, .btn-warning:hover, .btn-danger, .btn-danger:hover, .btn-success, .btn-success:hover, .btn-info, .btn-info:hover, .btn-inverse, .btn-inverse:hover {
    color: #FFFFFF;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
}
.btn-primary.active, .btn-warning.active, .btn-danger.active, .btn-success.active, .btn-info.active, .btn-inverse.active {
    color: rgba(255, 255, 255, 0.75);
}
.btn-primary {
    background-color: #0074CC;
    background-image: -moz-linear-gradient(center top , #0088CC, #0055CC);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-primary:hover, .btn-primary:active, .btn-primary.active, .btn-primary.disabled, .btn-primary[disabled] {
    background-color: #0055CC;
}
.btn-primary:active, .btn-primary.active {
}
.btn-warning {
    background-color: #FAA732;
    background-image: -moz-linear-gradient(center top , #FBB450, #F89406);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-warning:hover, .btn-warning:active, .btn-warning.active, .btn-warning.disabled, .btn-warning[disabled] {
    background-color: #F89406;
}
.btn-warning:active, .btn-warning.active {
}
.btn-danger {
    background-color: #DA4F49;
    background-image: -moz-linear-gradient(center top , #EE5F5B, #BD362F);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-danger:hover, .btn-danger:active, .btn-danger.active, .btn-danger.disabled, .btn-danger[disabled] {
    background-color: #BD362F;
}
.btn-danger:active, .btn-danger.active {
}
.btn-success {
    background-color: #5BB75B;
    background-image: -moz-linear-gradient(center top , #62C462, #51A351);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-success:hover, .btn-success:active, .btn-success.active, .btn-success.disabled, .btn-success[disabled] {
    background-color: #51A351;
}
.btn-success:active, .btn-success.active {
}
.btn-info {
    background-color: #49AFCD;
    background-image: -moz-linear-gradient(center top , #5BC0DE, #2F96B4);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-info:hover, .btn-info:active, .btn-info.active, .btn-info.disabled, .btn-info[disabled] {
    background-color: #2F96B4;
}
.btn-info:active, .btn-info.active {
}
.btn-inverse {
    background-color: #414141;
    background-image: -moz-linear-gradient(center top , #555555, #222222);
    background-repeat: repeat-x;
    border-color: rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.1) rgba(0, 0, 0, 0.25);
}
.btn-inverse:hover, .btn-inverse:active, .btn-inverse.active, .btn-inverse.disabled, .btn-inverse[disabled] {
    background-color: #222222;
}
.btn-inverse:active, .btn-inverse.active {
}
button.btn, input.btn[type="submit"] {
}
button.btn, input.btn[type="button"] {
    border: medium none rgba(0, 0, 0, 0);
}
button.btn::-moz-focus-inner, input.btn[type="submit"]::-moz-focus-inner {
    border: 0 none;
    padding: 0;
}
.btn-delete, .btn-delete:hover {
    background-image: url("../images/delete.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
		text-decoration:none;
		height:14px;
		width:8px;
}
.btn-edit, .btn-edit:hover {
    background-image: url("../images/pencil.png") !important;
    background-position: center;
    background-repeat: no-repeat;
    margin: 0;
		text-decoration:none;
		height:14px;
		width:8px;
}

select, input {
    border: 1px solid #CCCCCC;
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset;
    color: #555555;
    line-height: 18px;
    padding: 4px;
    transition: border 0.2s linear 0s, box-shadow 0.2s linear 0s;
		width:380px
}
input[type="button"],input[type="submit"]{
	width:auto;
}
select:focus, input:focus {
    border-color: rgba(82, 168, 236, 0.8);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 8px rgba(82, 168, 236, 0.6);
    outline: 0 none;
}
input.readonly {
    background: none repeat scroll 0 0 #F3F3F3;
    border: 2px dotted rgba(82, 168, 236, 0.8);
    border-radius: 3px;
    box-shadow: none;
    color: #000000;
    line-height: 18px;
    padding: 4px;
}
.hidden{
	display:none;
}
.opciones-box {
    background: none repeat scroll 0 0 #98C413;
    box-shadow: 0 0 5px #888888;
    display: inline-block;
}
.contenido-box {
    border-radius: 8px;
    box-shadow: 0 0 5px #FFFFFF;
    padding: 10px;
		background-color: #3A3A3A;
}

input.error {
    border: 1px dotted #FF0000;
}
label.error{
    color: #FF0000;
    font-style: italic; 
		display:none;
}
label {
		color:#FFF;
    display:block;
    margin-top:10px;
    letter-spacing:1px;
}
.formulario {
    display:block;
    margin:0 auto;
    width:500px;
    color: #666666;
    font-family:Arial;
}
form {
    margin:0 auto;
    width:400px;
}
.buttons{
	margin: 5px auto;
}
.inputbox-login{
	width:auto;
}
.label-login{
	display:inline;
}
table.tabla{
	color:#000;
	margin-left:auto;
	margin-right:auto;
	font-family:'Calibri';
	border-spacing:1px;
	background-color:	#424141;
}
table.tabla thead{
	background-color:#3e87d1;
	height:30px;
}
table.tabla thead th{
	padding:4px;
	text-align:center;
	color:#fff;
	font-size:12px;
	background-color:transparent;
	border:none;
}
table.tabla tbody th{
	font-weight:bold;
}
table.tabla tbody tr td{
	background-color:#cfe4ff;
	padding:4px;
	padding-top:5px;
	border:none;
	font-size:12px;
	text-align:center !important;
}
table.tabla tbody tr.row0 td:focus,
table.tabla tbody tr.row1 td:focus{ 
	background-color:	#bdd7f1	!important;
	border:none	!important;
	color:	#00537a	!important;
}
table.tabla tbody tr td a{
	text-decoration:none;
	color:#2690c1;	font-size:13px;	font-weight:bold;	text-align:center;
}
table.tabla tbody tr td a:hover{
	text-decoration:underline;
	color:	#fff;	font-weight:bold;	text-align:center;
}
table.tabla tbody tr.row1 td { 
	background: #fdfff9; 
	border:none; }
table.tabla tbody tr.row0:hover td,
table.tabla tbody tr.row1:hover td  { 
	background-color:	#5893cf;
	border:none;
	color:	#fff;
}  
table.tabla tbody tr.row0:hover td a,
table.tabla tbody tr.row1:hover td a { 
	color:	#fff;
}
table.tabla tbody tr.row1 td.cor, 
table.tabla tbody tr.row0 td.cor{ 
	text-align:center;
	background-color: #5893cf	!important;
	color:	white	!important;
	font-weight:	bold	!important;
	border-top: none	!important; 
}
table.tabla tbody tr td img{
	background-color:transparent;
	position:	static;
	border:none;
}

.paginador{
	max-width:200px;
	margin:0 auto;
	padding:0;
	overflow:hidden;}
	.paginador tr td a {
		text-decoration:none;}
	.anterior, .siguiente, .ultima, .primera{
		padding:5px;
		width:50px;
		max-width:50px;
		background-color:	#3E87D1;
		border:1px solid #589FE6;}
	.anterior a, .siguiente a, .ultima a, .primera a{
		color:	#fff;	font-weight:bold;	text-align:center;}
.pages, .selectedpage{
	width:20px;	max-width:20px;	min-width:20px;	
	height:15px;
	padding: 3px 5px 3px 5px;}	
	.pages{
		border:  1px solid #ccc;
		background-color:#f8f8f8;}
		.pages:hover{
			background-color:#e1f0ff;}		
	.selectedpage{
		border:1px solid #589fe6;
		background-color: #3e87d1;}
		.pages	a, .selectedpage	a{
			color:#212121;	font-weight:bold;}
.total-pages{
	font-weight:bold;
	color:	white;}	
a	{
	color:	white;}	
	a:hover	{
		color:	#c9ac1b;
		}
.oculta{
	display:none;
}




