body {
  padding-top: 70px;
  padding-bottom: 30px;
}

.theme-dropdown .dropdown-menu {
  position: static;
  display: block;
  margin-bottom: 20px;
}

.theme-showcase > p > .btn {
  margin: 5px 0;
}
input.error {
    border: 1px dotted #FF0000;
}
label.error{
    color: #FF0000;
    font-style: italic; 
		display:none;
}
